[flake8]
max-complexity = 7

# Same as isort's "skip" default https://pycqa.github.io/isort/docs/configuration/options.html#skip
exclude = .bzr,.direnv,.eggs,.git,.hg,.mypy_cache,.nox,.pants.d,.svn,.tox,.venv,__pypackages__,_build,buck-out,build,dist,node_modules,venv

ignore =
    # D104 Missing docstring in public package
    D104
    # N818 exception name '...' should be named with an Error suffix
    N818
    # W503 line break before binary operator https://github.com/psf/black/issues/52
    W503
per-file-ignores =
    tests/*:
        # S101 Use of assert detected. The enclosed code will be removed when compiling to optimised byte code.  (flake8-bandit)
        S101
        # S311 Standard pseudo-random generators are not suitable for security/cryptographic purposes.
        # Allow using choice([...]) in tests
        S311

# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203

# Fix N805, first argument should be self with pydantic validators
classmethod-decorators =
  classmethod
  validator
  root_validator
